@using Inance.DTOs.ServiceDTOs
@model GetServiceDetailsDto

<div class="container">
    <p>Title: @Model.Title</p>
    <p>Description: @Model.Description</p>
    <p>Active: @Model.IsActive</p>
    <p>Created Time: @Model.CreatedAt</p>
    <p>Last Modified Time: @Model.UpdatedAt</p>
    <p>Masters:</p>
    <ul>

    </ul>
    <p>Orders:</p>
    <ul>

    </ul>
</div>