@model InfoUserDto

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-left">
                            <h1 class="h3 text-gray-900 mb-4 text-center">Hello, @Model.FirstName @Model.LastName!</h1>
                            <p>Username: @@@Model.UserName</p>
                            <p>Firstname: @Model.FirstName</p>
                            <p>Lastname: @Model.LastName</p>
                            <p>E-mail: @Model.Email</p>
                        </div>
                        <hr>
                        <div class="text-center">
                            <a class="btn btn-primary me-2" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Panel</a>
                            <a class="btn btn-danger text-white" asp-controller="Accounts" asp-action="Logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>